.footer {
  background-color: #363535;
  grid-column: 1/-1;
  height: 70px;
  p {
    color: #efefef;
    font-size: 15px;
    text-align: center;
    font-family: 'Abel', sans-serif;
    a{
      text-decoration: none;
      color:#d88c77
    }
  }
}