.manage-meals-content {
    background-color: #f2f2f2;
  }
  
  .contain-table-headers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-weight: bold;
  }
  
  .meal-table-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: #ededed 1px solid;
  }
  
  .meal-table-item-img img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 78px;
    max-height: 78px;
    margin: 0 auto;
    border-radius: 2px;
  }
  
  #all-meal-table {
    background-color: #ffffff;
    padding: 20px 20px;
    h3 {
      color: #20ac76;
      font-size: 35px;
    }
  }
  
  #setMenuBtn {
    margin-top: 20px;
    margin-bottom: 60px;
  }
  
  .mg-meal-btn {
    background-color: #20ac76;
    color: #ffffff;
    border-radius: 5px;
    outline: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    width: 50px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  #all-meal-table {
    margin: 50px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  }
  
  .meal-table-title {
    margin-left: 10px;
  }
  
  .contain-table-headers p {
    font-size: 1.25em;
    font-weight: bold;
  }
  
  @media screen and (max-width: 600px) {
    .contain-table-headers p {
      font-size: 15px;
      font-weight: bold;
    }
  }
  
  .add-meal-form {
    max-width: 700px;
    margin: 0px auto;
    padding: 20px;
  }
  
  .btn-danger {
    background-color: #a30303;
    color: #ffffff;
    border-color: #cf4332;
  }

  .addMealLinkD{
    padding: 20px 0px;
    border: 1px solid #eb5a31;
    border-radius: 5px;
    max-width: 400px;
    margin: 0px auto;
    text-align: center;
    cursor: pointer;
    color: #eb5a31;
    font-size: 30px;
    transition: background-color 0.5s ease;
  }

  .addMealLinkD:hover{
    background-color: #eb5a31;
    color: #ffffff;
  }

  .addMealLink{
    text-decoration: none;
  }


  .mealFormBtn {
    background-color: #9d2401;
    color: #fff;
    padding: 14px 34px;
    margin: 8px 0;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    font-size: 15px;
}

.centerBtn{
  text-align: center;
}

.meal-table-item-price{
  text-align: center;
}

.loading-spinner{
  margin-top: 100px;
  margin-bottom: 100px;
   div {
     text-align: center;
   }
   h3#loader-text{
     text-align: center;
     color: black;
     font-size: 30px;
     padding-bottom: 150px;
   }
}

.page-btn{
  padding: 5px;
  border-radius: 50%;
  background-color: #eb5a31;
  font-size: 15px;
  margin: 0px 20px 0px 20px;
  color: white;
}

.page-num{
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  margin: 0px 5px 0px 5px;
}

.current-page{
  background-color: #eb5a31;
  border-radius: 50%;
  font-size: 25px;
  color: white;
}