.menu-list-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5px;
}

.menu-list {
  background-color: #ffffff;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .menu-list-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
}

.food-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  padding: 15px 0;
  border-bottom: #ededed 1px solid;
  .food-title-desc {
    p {
      margin: 0px auto;
    }
    .food-item-title {
      font-weight: 600;
    }
    .food-item-detail {
      font-weight: 100;
      color: grey;
    }
  }
  .food-item-price {
    font-weight: bold;
  }
}

.food-add-btn {
  border-radius: 5px;
  outline: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  background-color: #4E1200;
  color: white;
  &:hover {
    background-color: #4E1200;
    color: #ffffff;
  }
}

.categories .food-item img {
  display: block;
  width: auto;
  height: auto;
  max-width: 78px;
  max-height: 78px;
  margin: 0 auto;
}

.order-item {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

.order-summary-wrap {
  background-color: #ffffff;
  padding: 20px 10px;
}

.order-summary {
  h4 {
    color: #000000;
    font-size: 25px;
    border-bottom: #ededed 1px solid;
  }
  background-color: #ffffff;
}

.order-total-price {
  span {
    font-weight: 100;
    font-size: 14px;
  }
  font-weight: 600;
  font-size: 30px;
  margin-top: 20px;
}

.order-item {
  margin-bottom: 10px;
}

#orderBtn {
  margin-top: 20px;
}

.order-cancel-x {
  color: #a30303;
  font-size: 20px;
  cursor: pointer;
}

.cancel-order-btn {
  background-color: #9D2401;
  border-radius: 5px;
  outline: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  color: #ffffff;
}

.date-picker-pad {
  padding-bottom: 50px;
}