.signup-bg{
  height: 100%;
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6)), 
      url('https://res.cloudinary.com/ikeenjoku/image/upload/v1531582495/bookameal/homepage-splash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}