@import 'navbar';
@import 'footer';
@import 'landing'; 
@import 'login';
@import 'signup';
@import 'menu';
@import 'orderHistory';
@import 'managemeals';
@import 'setmenu';
@import 'modal';

body, html {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ededed;

}

.app-container{
  display: grid;
  grid-template-rows: auto minmax(calc(100vh - 90px), 1fr) 45px;
}

.activeNavLink{
  background-color:#9D2401;
}