@import 'navbar';
@import 'footer';
@import 'landing'; 
@import 'login';
@import 'signup';
@import 'menu';
@import 'orderHistory';
@import 'managemeals';
@import 'setmenu';
@import 'modal';
@import 'setupMenu';


body, html {
  margin: 0px;
  padding: 0px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  background-color: #ededed;

}
.body-bg{
  height: 100%;
  background: linear-gradient(hsl(0, 0%, 100%),hsla(0, 0%, 100%, 0.9)),
    url('https://res.cloudinary.com/ikeenjoku/image/upload/v1531578357/bookameal/bg-img.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.app-container{
  display: grid;
  grid-template-rows: auto minmax(calc(100vh - 90px), 1fr) 45px;
}

.activeNavLink{
  background-color:#9D2401;
}

#not-found{
  text-align: center;
}