.container {
    display: grid;
    grid-template-rows: 60px calc(100vh - 120px) 60px;
}

.contain-page {
    display: grid;
    /* grid-template-columns: repeat(12, 1fr); */
    grid-template-rows: 60px auto 60px;
}

.container-wrap {
    /* background-image: url("../img/homepage-splash.jpg");
    background-size: cover;
    background-position: center; */
    /* opacity: 0.4; */
    /* position: relative; */
    position: relative;
    overflow: hidden;
}

.container-wrap div {
    padding: 200px;
    position: relative;
    z-index: 2;
}

.container-wrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    opacity: 0.3;
}

.header {
    grid-column: 1/-1;
    display: flex;
}

.header-primary {
    background-color: #ea5b31;
    color: #ffffff;
    padding-top: 18px;
    padding-bottom: 18px;
}

.header>a:nth-child(2) {
    margin-left: auto;
}

.nav-link {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.nav-link:hover {
    border-bottom: #ffffff 3px solid;
}

.content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}


/* ******************************* */

.menu-list-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px;
}

.menu-list {
    background-color: #ffffff;
    padding-left: 20px;
}

.order-summary {}

@media (max-width: 768px) {
    .menu-list-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
}

.food-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    padding: 15px 0;
    border-bottom: #ededed 1px solid
}

.food-item .food-title-desc p {
    margin: 0px auto;
}

.food-item .food-title-desc .food-item-title {
    font-weight: 600;
}

.food-item .food-title-desc .food-item-detail {
    font-weight: 100;
    color: grey;
}

.food-item .food-item-price {
    font-weight: bold;
}

.food-add-btn {
    border-radius: 50px;
    outline: none
}

.categories .food-item img {
    display: block;
    width: auto;
    height: auto;
    max-width: 78px;
    max-height: 78px;
    margin: 0 auto;
}

.order-item {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr
}

.order-summary-wrap {
    background-color: #ffffff;
    padding: 20px 10px
}

.order-summary h4 {
    color: #20ac76;
    font-size: 25px;
    border-bottom: #ededed 1px solid
}

.order-total-price span {
    font-weight: 100;
    font-size: 14px;
}

.order-total-price {
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
}

.order-item {
    margin-bottom: 10px;
}

#orderBtn {
    margin-top: 20px;
}


/* ******************************* */


/* ***********manage-meal-page******************** */

.contain-form {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.add-meal-form {
    grid-column: 2/3;
}

.manage-meals-content {
    background-color: #ffffff;
}

.contain-table-headers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-weight: bold;
}

.meal-table-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.meal-table-item-img img {
    display: block;
    width: auto;
    height: auto;
    max-width: 78px;
    max-height: 78px;
    margin: 0 auto;
}

.pad-btn {
    padding: 10px;
    text-decoration: none;
}

#all-meal-table {
    padding: 20px 20px;
}

#all-meal-table h3 {
    color: #20ac76;
    font-size: 35px;
}


/* ******************************* */

#welcomeContent {
    max-width: 740px;
    padding: 20px;
    text-align: center;
    opacity: 1;
}

#welcomeContent p {
    text-align: justify;
}

.btn-nature {
    background: #20ac76;
    border-color: #8DC63F;
    color: white;
}

.btn-danger {
    background-color: #a30303;
    color: #ffffff;
    border-color: #cf4332;
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 50px;
    font-size: 1.313em;
    font-weight: bold;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
}

.control {
    font-size: 16px;
}

.center {
    text-align: center
}

.right {
    text-align: right
}

.input-field {
    height: 40px;
    width: 370px;
    padding: 6px 10px;
    line-height: 1.3333333;
    border-radius: 2px;
    margin-bottom: 10px
}

form {
    min-width: 400px;
    background-color: white;
    padding: 20px 0;
}

.btn-google {
    background-color: #cf4332;
    color: white;
}

.submitBtn {
    width: 279px;
}

.formText {
    padding: 5px 10px;
}

.formText a {
    text-decoration: none;
    color: #20ac76
}

.footer {
    background-color: #363535;
    grid-column: 1/-1;
}

.footer p {
    color: #efefef;
    font-size: 20px;
    text-align: center
}