.container {
    display: grid;
    grid-template-rows: 60px calc(100vh - 105px) 45px;
}

.contain-page {
    display: grid;
    grid-template-rows: 60px auto 60px;
}
.contain-signup-page {
    display: grid;
    grid-template-rows: 60px auto;
}
.container-wrap {
    position: relative;
    overflow: hidden;
}

.container-wrap div {
    padding: 200px;
    position: relative;
    z-index: 1;
}

.container-wrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    opacity: 0.4;
}

.header {
    /* grid-column: 1/-1; */
    display: flex;
}

nav {
    font-family: 'Roboto', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

.extra-lg {
    font-size: 27px;
}

@media (max-width: 570px){
    .extra-lg {
        font-size: 20px;
    }
}

.header-primary {
    background-color: #ea5b31;
    color: #ffffff;
    padding-top: 18px;
    padding-bottom: 18px;
}

.header>a:nth-child(2) {
    margin-left: auto;
}



.nav-link {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.nav-link:hover {
    border-bottom: #ffffff 3px solid;
}

.brand-link {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ***********menu-list-page******************** */

.menu-list-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px;
}

.menu-list {
    background-color: #ffffff;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .menu-list-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
}

.food-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    padding: 15px 0;
    border-bottom: #ededed 1px solid
}

.food-item .food-title-desc p {
    margin: 0px auto;
}

.food-item .food-title-desc .food-item-title {
    font-weight: 600;
}

.food-item .food-title-desc .food-item-detail {
    font-weight: 100;
    color: grey;
}

.food-item .food-item-price {
    font-weight: bold;
}

.food-add-btn {
    border-radius: 5px;
    outline: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}
.food-add-btn:hover {
    background-color: #4E1200;
    color: #ffffff;
}

.categories .food-item img {
    display: block;
    width: auto;
    height: auto;
    max-width: 78px;
    max-height: 78px;
    margin: 0 auto;
}

.order-item {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr
}

.order-summary-wrap {
    background-color: #ffffff;
    padding: 20px 10px
}

.order-summary h4 {
    color: #000000;
    font-size: 25px;
    border-bottom: #ededed 1px solid
}

.order-summary{
    background-color: #ffffff;
}

.order-total-price span {
    font-weight: 100;
    font-size: 14px;
}

.order-total-price {
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
}

.order-item {
    margin-bottom: 10px;
}

#orderBtn {
    margin-top: 20px;
}

.order-cancel-x {
    color: #a30303;
    font-size: 20px;
    cursor: pointer;
}


/* ******************************* */


/* ***********manage-meal-page******************** */

.manage-meals-content {
    background-color: #ffffff;
}

.contain-table-headers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-weight: bold;
}

.meal-table-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: #ededed 1px solid
}

.meal-table-item-img img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 78px;
    max-height: 78px;
    margin: 0 auto;
} 

#all-meal-table {
    padding: 20px 20px;
}

#all-meal-table h3 {
    color: #20ac76;
    font-size: 35px;
}

#setMenuBtn {
    margin-top: 20px;
    margin-bottom: 60px;
}

.mg-meal-btn{
    background-color: #20ac76;
    color: #ffffff;
    border-radius: 5px;
    outline: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    width: 50px;
}


/* ******************************* */


/* *************set-menu-page****************** */

.set-menu-content {
    background-color: #ffffff;
}


.set-menu-category {
    display: flex;
    border: 1px solid rgb(207, 205, 205);
    border-radius: 3px;
    margin: 10px 20px;
    padding-left: 10px;
}

.set-menu-category:hover {
    -webkit-box-shadow: 4px 6px 17px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 6px 17px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 6px 17px -2px rgba(0, 0, 0, 0.75);
}

.set-menu-category > .set-menu-content{
    flex: 1 1 33.33333%;
}


@media (max-width: 820px){
    .set-menu-category{
        flex-wrap: wrap;
    }
    .set-menu-category > .set-menu-content{
        flex: 1 1 50%;
    }
    .chosen-list {
        text-align: center;
    }
    .chosen-list li{
        list-style-type: none;
    }
}
@media (max-width: 570px){
    .set-menu-category{
        flex-wrap: wrap;
        text-align: center;
    }
    .set-menu-category > .set-menu-content{
        flex: 1 1 100%;
    }
    .set-menu-cat-hearders{
        visibility: hidden;
    }
}

.set-menu-title {
    font-size: 20px
}

.set-menu-cat-hearders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
}

.input-field-control {
    color: grey;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 30px;
    width: 205px;
    outline: none;
    margin-top: 16px;
}

.input-btn-control {
    margin: 0px;
    height: 30px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #9D2401;
    color: #ffffff;
    outline: none;
}

.set-menu-content li {
    line-height: 35px;
}


/* ******************************* */


/* *************order-history-page****************** */

.order-history-content {
    background-color: #ffffff;
    padding: 0px 20px 50px 20px;
}

.order-table-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.order-table-header p{
    font-size: 20px;
    font-weight: bold;
}

.order-table-body-row:nth-child(odd) {
    background-color: #fd7e5942;
}

.order-table-body-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 10px;
}

.cool-lg-text {
    color: #000000;
    font-size: 25px;
}


/* ******************************* */

#welcomeContent {
    max-width: 740px;
    padding: 20px;
    text-align: center;
}

#welcomeContent p {
    text-align: justify;
    font-family: 'Sans Serif', cursive;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 400;
}

#welcomeContent h3 {
    font-family: 'sans serif', cursive;
    font-size: 35px;
}

.btn-nature {
    background: #9D2401;
    border-color: #9D2401;
    color: white;
}

#enter-btn {
    background-color: #9D2401;
    border-color: #9D2401;
    color: white;
    padding: 10px 60px;
    font-size: 30px;
    transition: background-color 0.3s, color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s, padding 0.3s;
}
#enter-btn:hover{
    background-color: #791B00;
    color: #ffffff;
}

.btn-danger {
    background-color: #a30303;
    color: #ffffff;
    border-color: #cf4332;
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 50px;
    font-size: 1.313em;
    font-weight: bold;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
}



.center {
    text-align: center
}


.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-control{
    width: 100%;
    background-color: #9D2401;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-control:hover {
    background-color: rgb(148, 33, 1);
}


.formDesign {

    border-radius: 5px;
    background-color: #e0dfdf;
    padding: 20px;
    width: 500px;
}
.formDesign h2{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 2.5em;
    color: #000000;
}
.signupform{
    margin-top: 100px;
    margin-bottom: 450px;
}

@media (max-width:400px) {
    .input-field {
        height: 40px;
        width: 100vw;
        padding: 6px 10px;
        line-height: 1.3333333;
        border-radius: 2px;
        margin-bottom: 10px
    }
    .formDesign {
        width: 100vw;
        background-color: white;
        padding: 20px 0;
    }
    .formText {
        padding-right: 30px;
    }
}

.btn-google {
    color: #cf4332;
    text-decoration: none;
}

.submitBtn {
    width: 279px;
}

.formText {
    padding: 5px 10px;
}

.formText a {
    text-decoration: none;
    color: #20ac76
}

.footer {
    background-color: #363535;
    grid-column: 1/-1;
    
}

.footer p {
    color: #efefef;
    font-size: 15px;
    text-align: center;
    font-family: 'Abel', sans-serif;
}

#total-made{
    margin-top: 100px;
    margin-bottom: 500px;
}

#setMenuBtn{
    margin-bottom: 500px;
}

.add-meal-form{
    max-width: 700px;
    margin: 0px auto;
}

.cancel-order-btn {
    background-color: #9D2401;
    border-radius: 5px;
    outline: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    color: #ffffff;
}

.order-table-body{
    -webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
}

#all-meal-table{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
}

.meal-table-title{
    margin-left: 10px;
}

.contain-table-headers p {
    font-size: 20px;
    font-weight: bold;
}

.order-history-date-picker{
    margin-bottom: 50px;
}